.container {
  display: grid;
  gap: 1rem;

  .title {
    h2 {
      font-size: var(--fz-300);
    }
  }

  .about div {
    font-size: var(--fz-200);

    h2 {
      font-size: var(--fz-300);
    }

    > *:not(:first-child) {
      margin-top: 1rem;
    }

    ol {
      margin-inline-start: 1.8rem;
    }
  }
}
