.page {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  align-items: start;
  gap: 1rem;

  margin-block-end: 2rem;
}

.search {
  display: flex;
  justify-content: center;
  margin-block-end: 3rem;
}
