.container {
  display: grid;
  gap: 1rem;

  .title {
    h2 {
      font-size: var(--fz-300);
    }
  }

  .activity {
    ul li {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      background-color: var(--color-surface-400);

      font-size: var(--fz-200);

      border-radius: var(--border-radius);

      padding-inline: 1rem;
      padding-block: 1rem;

      svg {
        inline-size: 1.5rem;
        block-size: 1.5rem;
      }
      .consulation_count {
        font-weight: 600;
      }
    }

    ul li:not(:first-child) {
      margin-block-start: 0.8rem;
    }
  }
}
