.item {
  position: relative;

  padding: 1rem;
  height: auto;

  background-color: var(--color-surface-700);
  box-shadow: var(--shadow-400);

  border-radius: var(--border-radius);

  .info {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.8rem;
  }

  .image {
    border-radius: 0.7rem;
    border: 0.2rem solid var(--color-border);
  }

  .name {
    font-size: var(--fz-400);
  }

  .brief {
    margin-top: 0.2rem;
    font-size: var(--fz-200);
  }

  .rate {
    display: flex;
    align-items: center;
    gap: 0.15rem;

    background-color: var(--color-surface-300);

    width: fit-content;

    padding-block: 0.1rem;
    padding-inline: 0.2rem;
    margin-top: 0.4rem;
    border-radius: 0.2rem;

    font-size: var(--fz-100);

    .star {
      color: var(--color-star);
      margin-top: 2px;
    }
  }

  .badge {
    display: flex;
    justify-content: start;
    gap: 0.4rem;

    margin-block-start: 2rem;

    .badge_item {
      background-color: var(--color-surface-400);
      width: fit-content;

      font-size: var(--fz-100);

      padding-block: 0.3rem;
      padding-inline: 0.4rem;
      border-radius: var(--border-radius);
    }
  }

  .address {
    margin-block-start: 1.5rem;

    address {
      color:var(--color-gray-40);

      font-style: normal;
      font-size: var(--fz-200);

      display: flex;
      align-items: start;
      gap: 0.3rem;

      svg {
        flex-shrink: 0;
        margin-top: 0.25rem;
      }
    }
  }

  button {
    position: absolute;
    top: 1rem;
    left: 1rem;

    display: flex;
    align-items: center;
    gap: 0.15rem;

    font-size: var(--fz-200);

    background-color: var(--color-primary);
    color: var(--color-primary-opposite);

    border: none;
    border-radius: var(--border-radius);

    padding: 0.5rem;
    cursor: pointer;

    transition: 0.2s ease-in-out;
    transition-property: background-color, color;

    &:hover {
      background-color: var(--color-primary-darker);
      color: var(--color-primary-opposite);
    }
  }
}
